.overlay-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2980b9;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
}

.loading-item {
    width: 6px;
    height: 40px;
    background: #fff;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}

.loading-item:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-item:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-item:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-item:nth-child(5) {
    animation-delay: 0.4s;
}

.loading-item:nth-child(6) {
    animation-delay: 0.5s;
}

.loading-item:nth-child(7) {
    animation-delay: 0.6s;
}

.loading-item:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}
