.order-complete-card h1 {
    color: #1f201d;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.order-complete-card p {
    color: #404f5e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}
.order-complete-card i {
    color: #1f201d;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}
.order-complete-card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    margin: 40px auto;
    text-align: center;
    width: 440px;
}
