@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    font-family: "Poppins";
}

.overlay {
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-image: url(https://theme.hstatic.net/1000042622/1000531425/14/banner_top_img.png?v=525); */
}

.formwrap {
    z-index: 1001;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    height: 500px;
    width: 780px;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}

.form-left {
    width: 50%;
    position: relative;
}

.form-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-left__content {
    position: absolute;
    padding: 40px 20px;
    color: #fff;
}

.form-left__content {
    position: absolute;
}

.form-right {
    width: 50%;
    display: flex;
}

.signup-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 230px;
}

.login-form {
    margin: auto;
    display: flex;
    width: 230px;
    flex-direction: column;
}

.form-group {
}

.form-group input {
    border: none;
    border-bottom: 1px solid #9e9a9a;
    width: 100%;
    outline: none;
    padding: 0 4px;
}

.form-group label {
    font-size: 10px;
    letter-spacing: 1px;
    color: #9e9a9a;
}

.form-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.form-submit .form-btn {
    min-width: 120px;
    font-size: 10px;
    border: none;
    border-radius: 20px;
    color: #ccc;
    /* max-height: 40px; */
    padding: 10px 4px;
    background-color: #f13953;
}

.form-submit p {
    font-size: 11px;
    color: #9e9a9a;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nonedisplay-class {
    display: none;
}

.form-message {
    font-size: 12px;
}
